@import 'variables';

.card {
  border-radius: $border-radius-lg;
  box-shadow: $shadow-sm;
  background-color: $color-gray;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: $shadow-md;
  }

  .user-avatar {
    object-fit: cover;
    border: 2px solid $color-gray;
  }

  .card-title {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    color: $color-text;
  }

  .card-position {
    font-size: $font-size-sm;
    color: $color-text;
  }

  .btn {
    padding: 0.25rem 0.75rem;
    font-size: $font-size-sm;
  }
}